
{% extends 'jobs/jobsMain.html' %}
{% load static %}
{% block content %}
    <main>
        <section class="featured-places">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div style="background-color:#2C4700;" class="thumb-img">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <div class="down-content">
                                <div class="row">
                                    <div class="col-md-8 col-xs-8">
                                        <h4>Position name</h4>
                                        <p> College name</p>
                                        <div class="overlay-content">
                                            <strong title="Posted on"><i class="fa fa-calendar"></i> Apply by</strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <strong title="Location"><i class="fa fa-map-marker"></i> Location</strong>
                                            <br></br>
                                        </div>
                                        {% if user.is_staff %}
                                        <div class="overlay-content">
                                            <button style="background-color:#ecec02ba;color: black;font-weight: 600;"
                                                class="btn"><i class="fa fa-pencil"></i></button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <button style="background-color:red;color: white;font-weight: 600;"
                                                class="btn"><i class="fa fa-trash"></i></button>
                                            <br></br>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4 col-xs-4"><img style="margin-bottom: 4px;"
                                            src="{% static 'jobs/img/product-1-720x480.jpg' %}" alt=""></div>
                                </div>
                                <div class="text-button">
                                    <a href="{% url 'jobDetails' %}">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <form action="#">
                            <h4 style="margin-bottom: 15px">Category</h4>
                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>RAJASTHAN COLLEGE OF AGRICULTURE (RCA), UDAIPUR</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>COLLEGE OF DAIRY AND FOOD TECHNOLOGY (CDFT), UDAIPUR</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>COLLEGE OF TECHNOLOGY AND ENGINEERING (CTAE), UDAIPUR</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>COLLEGE OF FISHERIES (COF), UDAIPUR
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>COLLEGE OF COMMUNITY AND APPLIED SCIENCE (CCAS), UDAIPUR
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>COLLEGE OF AGRICULTURE (COA), BHILWARA
                                    </span>
                                </label>
                            </div>
                            <br>
                            <button style="background-color: #2C4700;color: white;font-weight: 700;">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
